.categoryDesc {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.categoryCardsWrap{
    display: flex;
    overflow-x: scroll;
        gap: 20px;
}
.productsByCategoryList{
    padding-block: 3rem;
}
@media (min-width:992px) {
     .productsByCategoryWrap .productsByCategoryList:nth-child(4),
    .productsByCategoryWrap .productsByCategoryList:nth-child(2){
        background-color: var(--white);
    border-radius: 45px;
    max-width: 95%;
    margin-inline: auto;
    }
}
@media (min-width:1200px) {
    .categoryCardsWrap {
        overflow: auto;
    }
}